---
import copy from "@/content/copy/fr.json";
import Button from "@components/base/Button.astro";
---

<footer class="border-border mt-12 border-t md:mt-24">
  <div class="container px-4 py-8 md:px-6 md:py-14 lg:px-8">
    <div class="flex flex-col items-center justify-between gap-8 md:flex-row">
      <div class="text-center md:text-left">
        <Button href={`mailto:${copy.contact.mail}`} variant="link" size="sm"
          >{copy.contact.mail}</Button
        >
      </div>
    </div>
  </div>
</footer>
