---
import Button from "@components/base/Button.astro";
import copy from "@content/copy/fr.json";
import Mail from "@lucide/astro/icons/mail";
---

<header>
  <div class="container flex h-20 items-center justify-between">
    <a href="/" aria-label="Sp3ctra homepage" class="text-lg font-semibold">{copy.seo.title}</a>
    <Button size="sm" icon={Mail}>{copy.buttons.demo}</Button>
  </div>
</header>
