---
import copy from "@content/copy/fr.json";
import { Image } from "astro:assets";
import SocialLink from "@components/base/SocialLink.astro";
import logo from "@assets/images/logo.png";
---

<header>
  <div class="container flex items-center justify-between py-8 md:py-12">
    <a href="/" aria-label="Sp3ctra homepage" title="Sp3ctra homepage">
      <Image src={logo} alt={copy.seo.title} height={24} priority />
    </a>
    <div class="flex items-center gap-2">
      <SocialLink
        icon="linkedin"
        href="https://www.linkedin.com/company/sp3ctra/"
        ariaLabel="LinkedIn Sp3ctra"
      />
      <SocialLink
        icon="instagram"
        href="https://www.instagram.com/sp3ctra.io/"
        ariaLabel="Instagram Sp3ctra"
      />
    </div>
  </div>
</header>
