---
import Header from "@components/layout/Header.astro";
import Hero from "@components/features/Hero.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import NewsCard from "@components/features/NewsCard.astro";
import ImgExpo from "@assets/images/sp3ctra_expo_la_musique_des_photons6.jpg";
import SectionHeader from "@components/base/SectionHeader.astro";
import copy from "@content/copy/fr.json";
import Footer from "@components/layout/Footer.astro";
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <SectionHeader title={copy.news.sectionTitle} />
    <NewsCard content={copy.news.expo2025} image={ImgExpo} />
  </main>
  <Footer />
</BaseLayout>
