<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Sp3ctra_ - dispositif pionnier de capture d'image gestuelle avec synthèse additive. 3456 voix polyphoniques, contrôle micro-tonal inédit. Performance, création, pédagogie." />
		<meta name="author" content="Jérôme Abel" />
		<meta http-equiv="Cache-control" content="public" />
		<meta http-equiv="Expires" content="259200" />
		<meta name="revisit-after" content="5 days" />
		<meta name="robots" content="index, follow" />
		<title>Sp3ctra_</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
